<style type="text/css">
	.aduins{
 background:linear-gradient(90deg,rgba(255, 217, 0,0.9),rgba(255, 217, 0,0.2)),url(https://res.cloudinary.com/nikasemo/image/upload/c_scale,h_965/v1579482402/00100dPORTRAIT_00100_BURST20190918153958546_COVER_1_i5vkft.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: left; 
      color: white; 
      position: relative; 
      top: 140px; 
      font-weight: 300; 
      font-family: 'Lalezar', cursive;
      font-size: 50px; 
      line-height: 30px;
    }

.aduinsp1 {
  text-align: left; 
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; 
  position: relative;
  font-size: 14px; 
  top: 140px;
}

hr.worksdivider{
  height: 2px;
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  width: 5%;
}

.holdactioninside {
	height: 200px;
	border: 7px solid #ffd700;
	text-align: center;
	-webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.25);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.25);
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

 .aduins{
 background:linear-gradient(90deg,rgba(255, 217, 0,0.9),rgba(255, 217, 0,0.2)),url(https://res.cloudinary.com/nikasemo/image/upload/c_scale,h_965/v1579482402/00100dPORTRAIT_00100_BURST20190918153958546_COVER_1_i5vkft.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: left; 
      color: white; 
      position: relative; 
      top: 140px; 
      font-weight: 300; 
      font-family: 'Lalezar', cursive;
      font-size: 30px; 
      line-height: 30px;
    }

.aduinsp1 {
  text-align: left; 
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; 
  position: relative;
  font-size: 14px; 
  top: 140px;
}


}
</style>


<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 0px">
          <div class="col-lg-12">
            <!-- <h1 style="font-weight: 700;" class="aduinsh1">
              About Us
            </h1>
            <p style="" class="aduinsp1">
              We want to help you with what we have learnt about marketing online.
            </p> -->
          </div>
        </div>
      </div>
    </section>


<div class="container">
	<div class="row" style="margin-top: 50px;">

		<div class="col-lg-8">
			<h4>About the Team</h4>
			<hr align="left" width="3%" class="worksdivider">
			<p>
				We have successfully built an online business in Ghana which manages to bring in customers and clients and gets them to pay for products and services we provide and we happily want to help you do same.
				<br><br>
				<span style="font-weight: 500;">Are you thinking of having a website?</span>
				<br>
				Do you also think that by just having a website and telling people about it, sales and marketing will automatically shoot up?<br>
				Are you frustrated by your online marketing efforts because the results you are getting are insignificant?
				<br><br>
				<span style="font-weight: 500;">Let’s rethink this.</span>
				<br>
				Let’s see our website like a weapon. Having a good sword doesn’t necessarily mean you are going to win the fight. Your ability to fight with a sword (1) and your ability to actually use that particular sword (2) are your key success factors.
				<br><br>
				<span style="font-weight: 500;">
					You shouldn’t spend money on a website until you have figured out these two.
				</span>
				<br> 
				1.	Understanding the internet and the avenues it presents you to sell your website. Crafting messages for every avenue of communication.<br>
				2.	Using your website as the sword to execute the actions in one.
				<br><br>
				<span style="font-weight: 500;">All set. Seems easy, right?</span><br>
				In my five years of freelance website development. We have encountered a lot of clients. Most of them we just built websites for. We knew most would not do well because they didnt know how to use these new tools to reach their customers and clients. It is different now!
				<br><br>
				Based on our experience and results we have generated for our business (and also other businesses we have helped) we can help you greatly; first with building the weapon - A great website and then help you reach your market, building an audience, communicating with them and get them to pay for your product or service!
				<br><br>
				<span style="font-weight: 600;">Click on the action button below lets get started talking!</span>
			</p>
			<p>
				<a href="/reaches/new" class="btn btn-lg btn-success" style="font-weight: 600;">Lets get Talking!</a>
			</p>
			<br><br><br>
		</div>

		<div class="col-lg-4">
			<img src="https://res.cloudinary.com/nikasemo/image/upload/v1579479826/marketinglegendslogo_maubwt.png" class="img-fluid">
		</div>
	</div>
</div>



<div class="row no-gutters">

	<div class="col-lg-6">
		<div class="holdactioninside">
			<br>
			<br>
			<br>
			<a href="" style="color: #ffd700; font-size: 20px;"><i class="fa fa-pencil-square" aria-hidden="true"></i> Work with Us</a>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="holdactioninside">
			<br>
			<br>
			<br>
			<a href="" style="color: #ffd700; font-size: 20px;"><i class="fa fa-briefcase" aria-hidden="true"></i> Our Client Profiles</a>
		</div>
	</div>

</div>














