<br><br><br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h2>Kindly fill this form.</h2>
			<p>We want to help you!</p>

			<%= render 'form', reach: @reach %>

			<%= link_to 'Back', reaches_path %>
		</div>
	</div>
</div>

